<a href="javascript:void(0)" class="dropbtn" onclick="myFunction()">Dropdown</a>
<div class="dropdown-content" id="myDropdown">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>

    {% for category in site.categories %}
    {% for post in category[1] limit:1%}
        <a href="{{ post.url }}">{{ category | first }}<span class="badge pull-right">{{ category | last | size }}</span></a>
    {% endfor %} 
    {% endfor %}

</div>

<script>
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  window.onclick = function (e) {
    if (!e.target.matches(".dropbtn")) {
      var dropdowns = document.getElementById("myDropdown");
      for (var d = 0; d < dropdowns.length; d++) {
        var openDropdown = dropdowns[d];
        if (openDropdown.classList.contains("show")) {
          openDropdown.classList.remove("show");
        }
      }
    }
  };
</script>
