<button id="follow" class="follow">팔로우</button>
<span style="float: right;" id="follow-me" href="javascript:void(0)" class="categories" onclick="test()">🧑‍💻</span>

<div class="tooltip">
    <div class="tooltip-show">
        <a href="https://wo3okey.github.io/portfolio/" target="_blank">portfolio</a>
        <a href="https://github.com/wo3okey" target="_blank">github</a>
        <a href="mailto:anbriaao@naver.com">email</a>
    </div>
</div>

<script>
    let followCnt = 0;
    var follow = document.getElementById("follow");
    var tooltip = document.querySelector(".tooltip");

    follow.addEventListener("click", function(e) {
        followCnt++

        if (followCnt % 2 == 0) {
            document.getElementById("follow-me").innerHTML = "🧑‍💻"
        } else {
            document.getElementById("follow-me").innerHTML = "🙋‍♂️"
        }

        if (tooltip.style.visibility === "visible") {
            tooltip.style.visibility = "hidden";
        } else {
            tooltip.style.visibility = "visible";
        }
    });

  document.addEventListener("click", function(event) {
    var targetElement = event.target;

    // follow 닫기
    if (!follow.contains(targetElement)) {
        document.getElementById("follow-me").innerHTML = "🧑‍💻"
      tooltip.style.visibility = "hidden";
      followCnt = 0
    }
  });
</script>