<!-- header -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
  <span style="float: left;" id="me" href="javascript:void(0)" class="categories dropbtn" onclick="getCategories()"><i class="fa fa-bars"></i></span>
  <input class="search" id="search-input" type="text" placeholder="검색어를 입력하세요..." />
  {% include follow.html %}
  {% include search.html %}

  <div class="dropdown-content" id="myDropdown">
    {% for category in site.categories %}
      {% for post in category[1] limit:1%}
          <a href="/categories/{{post.categories}}">
            <img class="icon" src="{{site.url}}/assets/images/icons/{{post.categories}}.png" />
            {{ category | first }}
            <span class="badge">{{ category | last | size }}</span>
          </a>
      {% endfor %} 
    {% endfor %}
  </div>
  {% include menu.html menu=pages %}
  
</header>
<h1></h1>
{%- assign posts = paginator.posts -%}
{% for post in posts %}
  <article>
    {% include meta.html post=post preview=true %}
    <a href="{{ post.url | relative_url }}">
      <div class="post-title"><p>{{post.title}}</p></div>
      {{ post.excerpt }}
    </a>
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
<footer class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; 이전</a>
  {% else %}
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <a style="color:darkorange;">{{ page }}</a>
    {% elsif page == 1 %}
      <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">다음 &raquo;</a>
  {% else %}
  {% endif %}
</footer>
{% endif %}

<script>
let dropCnt = 0;
function getCategories() {
  document.getElementById("myDropdown").classList.toggle("show");
  dropCnt++

  if (dropCnt % 2 == 0) {
    document.getElementById("me").innerHTML = "🧑‍💻"
  } else {
    document.getElementById("me").innerHTML = "🙋‍♂️"
  }
}

window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var d = 0; d < dropdowns.length; d++) {
      var openDropdown = dropdowns[d];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
        document.getElementById("me").innerHTML = "🧑‍💻"
        dropCnt --;
      }
    }
  }
}
</script>