<header>
  <span class="title">🧑‍💻</span>
  <!-- <input class="search" id="search-input" type="text" placeholder="검색어를 입력하세요..." /> -->
  <!-- <a href="{{ "/search" | relative_url }}" class="title">search</a> -->
  {% include search.html %}
  {% include menu.html menu=pages %}
</header>
<h1 class="post-title"></h1>
{%- assign posts = paginator.posts | default: site.posts -%}
{% for post in posts %}
  <article>
    {% include meta.html post=post preview=true %}
    <a href="{{ post.url | relative_url }}">{{ post.excerpt }}</a>
    <!-- <div class="more"><a href="{{ post.url | relative_url }}">더보기</a></div> -->
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« newer posts</a>{% else %}<span></span>{% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">older posts »</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}
