<!-- header -->
<header>
  <a href="javascript:void(0)" class="categories dropbtn" onclick="myFunction()">🧑‍💻</a>
  <div class="dropdown-content" id="myDropdown">
    {% for category in site.categories %}
    {% for post in category[1] limit:1%}
        <a>{{ category | first }}<span class="badge">{{ category | last | size }}</span></a>
    {% endfor %} 
    {% endfor %}
  </div>

  {% include search.html %}
  {% include menu.html menu=pages %}
</header>
<h1 class="post-title"></h1>
{%- assign posts = paginator.posts | default: site.posts -%}
{% for post in posts %}
  <article>
    {% include meta.html post=post preview=true %}
    <a href="{{ post.url | relative_url }}">{{ post.excerpt }}</a>
    <!-- <div class="more"><a href="{{ post.url | relative_url }}">더보기</a></div> -->
  </article>
{% endfor %}

<!-- paging -->
{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« newer posts</a>{% else %}<span></span>{% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">older posts »</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}


<script>
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var d = 0; d < dropdowns.length; d++) {
      var openDropdown = dropdowns[d];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>